%h1 Listing ambassadors

%table.table.table-striped
  %tr
    %th Name
    %th Stack username
    %th Stack Answers
    %th
    %th

  - @ambassadors.each do |ambassador|
    %tr
      %td= ambassador.Name
      %td= ambassador.Stack_Username
      %td= @stackcontrib.count
      %td= link_to 'Show', ambassador
      %td= link_to 'Edit', edit_ambassador_path(ambassador)
      %td= link_to 'Destroy', ambassador, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ambassador', new_ambassador_path
