%h1 Line

%h2 Questions with no answers - Total #{Question.no_answer.count}
%ul.left-panel
  - Question.no_answer.each do |q|
    %li
      = link_to q.title, q.link

%h2 Top Ten Tags
#content{style: "width:30%; height:300px;"}
  .left.column
    = pie_chart @tag_sort

%h2 Highest Scored Questions
- Question.q_highscore.each do |h|
  %li
    = h.score 
    = link_to h.title, h.link

%h2 Highest Scored Answers
- @a_highscore.each do |a|
  %li
    = a

 
