/:javascript
/  $('.post__article').scrollNav({
/    sections: 'h2',
/    subSections: false,
/    sectionElem: 'section',
/    showHeadline: true,
/    headlineText: 'Scroll To',
/    showTopLink: true,
/    topLinkText: 'Top',
/    fixedMargin: 40,
/    scrollOffset: 40,
/    animated: true,
/    speed: 500,
/    insertTarget: this.selector,
/    insertLocation: 'insertBefore',
/    arrowKeys: false,
/    onInit: null,
/    onRender: null,
/    onDestroy: null
/  });
:javascript
  $('.post__article').scrollNav({
  headlineText: 'scrollNav',
  fixedMargin: 60,
  scrollOffset: 80,
  arrowKeys: true
  });
  var $item = $('.scroll-nav__item');
  $.each($item, function(){
  $text = $(this).find('a').html().toLowerCase();
  $(this).addClass($text);
  });

.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      %nav.scroll-nav{role: "navigation"}
        .scroll-nav__wrapper
      %span.scroll-nav__heading scrollNav
      %ol.scroll-nav__list
        %li.scroll-nav__item.description.active.in-view
          %a.scroll-nav__link{href: "#scrollNav-1"} Unanswered
        %li.scroll-nav__item.features.in-view
          %a.scroll-nav__link{href: "#scrollNav-2"} Top Tags
        %li.scroll-nav__item.usage
          %a.scroll-nav__link{href: "#scrollNav-3"} Higest Voted Questions
        %li.scroll-nav__item.options
          %a.scroll-nav__link{href: "#scrollNav-4"} Higest Voted Answers

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      %article.post__article
        %section#scrollNav-1.scroll-nav__section
          %h2 Questions with no answers - Total #{Question.no_answer.count}
          - Question.no_answer.each do |q|
            %li
              = link_to q.title, q.link

      %section#scrollNav-2.scroll-nav__section
        %h2 Top Ten Tags
        #content{style: "width:auto; height:auto;"}
          = pie_chart @tag_sort, library: {backgroundColor: "#eee"}


      %section#scrollNav-3.scroll-nav_section
        %h2 Highest Scored Questions
        - Question.q_highscore.each do |h|
          %li
            = h.score
            = link_to h.title, h.link

      %section#scrollNav-4.scroll-nav_section
        %h2 Highest Scored Answers
        - Question.a_highscore.each do |a|
          %li
            = a.score
            = link_to a.link

        /%h2 
        /- Question.each do |q|
        /  %li
        /    = q.creation_date
