%nav.navbar.navbar-default.navbar-pf{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "https://stack2-niharvey.rhcloud.com"}
      %img{alt: "Openshift Community Stats", src: "LogoLarge.png"}/
  / end .navbar-header
  .collapse.navbar-collapse.navbar-collapse-1
    %ul.nav.navbar-nav.navbar-utility
      %li
        = link_to "Login", "#"
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.pficon.pficon-user
          = current_user
          %b.caret
      %ul.dropdown-menu
        %li
          = link_to "stuff", "#"
    %ul.nav.navbar-nav.navbar-primary
      %li.active
        = link_to "Dashboard", stats_path
      %li
        = link_to "Ambassador", ambassadors_path